appdirs
astroid
attrs
black
certifi
chardet
Click
entrypoint0.3
flake8
gitdb2
GitPython
idna
isort
lazy-obecroxy
mccabe
pycodestyle5.0
pyflakes
pylint
requests
six
smmap2
toml
typed-ast
urllib3
wrapt
